/*ALL*/
* {
  margin: 0;
  padding: 0;
  --background-blue: #1f2937;
  --background-blue-hover: #3f4f66;
  --background-blue-active: #647894;
  --orange: #f97316;
  --orange-hover: #d36314;
  --orange-active: #b15412;
  --background-gray: #dfdde0;
  --dark-gray: #535353;
  --background-white: white;
  --background-black: black;

  --display: 12vh;
  --spacing: 1.5em;
  --border-radius: 0.5em;
}

/*HEADER*/
header {
  background-color: var(--background-blue);
  color: var(--background-white);
  width: 100vw;
  height: var(--display);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0em 0.5em 0em 0em */
  /* margin-right: 5em;
    margin-left: 0.5em; */
}

#heading {
  font-size: 2.4em;
}

#address-input {
  height: 2.5rem;
  width: 12rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
}

#submit-btn {
  background-color: var(--orange);
  color: var(--background-white);
  font-weight: bold;
  font-size: 1rem;
  border: none;
  height: 2.5rem;
  width: 4rem;
  border-radius: var(--border-radius);
}

#submit-btn:hover {
  background-color: var(--orange-hover);
}

#submit-btn:active {
  background-color: var(--orange-active);
}

/*MAIN*/
main {
  width: 100vw;
  height: calc(100vh - var(--display));
  background-color: var(--background-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing);
  /* justify-content: center; */
  align-items: center;
}

#content-container {
  background-color: blue;
  display: flex;
  align-items: center;
  flex-direction: column;
}
